p {color:#FF0000;
	font-weight:bold;
	font-type:Arial,sans-serif;
padding-left:120px;}
h4 {padding-left:90px;}
b {padding-left:90px;}

#wrapperform {
	position: inherit;
	padding-left: 180px;
}

.head {
	
	text-align: center;
	
	background-color:#000000;
}

summary {
	font-size: 13px;
	padding-bottom: 10px;
}

.head a{
	color:#fff;
	
}

.dropdown {
	position: relative;
	display: inline-flex;
}

.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 15px 10px;
    z-index: 1;
    margin-top: 20px;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}
#drop {
	color: #fff;
}

#color {
	color: rgba(220, 75, 75, 0.77);
	display: inline-block;
}
#color:hover {
	color: #fff;
	
}

h1 {
	font: 70px myFirstFont;
	margin-top: -1%;
	padding-top: 1%;
	margin-bottom: 22px;
	padding-bottom: 20px;
}

.mySlides {
	display: block;
	margin: 0 auto;
}
footer {
	text-align: center;
}

nav {
	margin-top: -50px;
	margin-bottom: -70px;
	box-sizing: border-box;
}

h2 {
	text-align: center;
}

#wrapper {
	font: 12px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
	
}

.front {
	display: inherit;
	font-size: 35px;
	text-align: center;
	margin: 0 auto;
	display: block;
	box-sizing: border-box;
}

@font-face {
    font-family: myFirstFont;
    src: url(MarvinVisions-Bold.woff);
}

a {
	text-decoration: none;
	color: #000;
}
#contact {
	text-align: center;
}

.sidebar {
	float: left;
	display: block;
	box-sizing: border-box;
	background-color: #ffffff;
	margin-right: -11%;
	color:#000;
	padding-left: 50px;
}

a:hover {
	
	color: rgba(220, 75, 75, 0.77);
	
}
#tableoverflow {
	overflow-x: auto;
}

table {
	
	z-index: -1;
	margin: 0 auto;
}
